In [1]:
import pandas as pd

In [2]:
data = [{'beer_name': 'a', 'type': 'blonde', 'price' :2},{'beer_name': 'b', 'type': 'blonde', 'price' :2},
        {'beer_name': 'c', 'type': 'blonde', 'price' :3},{'beer_name': 'd', 'type': 'blonde', 'price' :4}]

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  beer_name    type  price
0         a  blonde      2
1         b  blonde      2
2         c  blonde      3
3         d  blonde      4

In [5]:
df.columns

Index(['beer_name', 'type', 'price'], dtype='object')

In [6]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df2 = pd.DataFrame({
    'x' : [1,2,3,5],
    'y' : [4,22,33,6] 
})

In [9]:
df2.shape

(4, 2)

In [10]:
df2.columns

Index(['x', 'y'], dtype='object')

In [11]:
df.price

0    2
1    2
2    3
3    4
Name: price, dtype: int64

In [12]:
type(df.price)

pandas.core.series.Series

In [13]:
l=[1,2,3]
s=pd.Series(l)

In [14]:
l

[1, 2, 3]

In [16]:
type(s)

pandas.core.series.Series

In [17]:
s

0    1
1    2
2    3
dtype: int64

In [19]:
df3 =pd.DataFrame({'a' : [1,2,'hello']})

In [22]:
df3.a

0        1
1        2
2    hello
Name: a, dtype: object

In [23]:
df2['x'] + 100

0    101
1    102
2    103
3    105
Name: x, dtype: int64

In [25]:
df2['x'] > 2

0    False
1    False
2     True
3     True
Name: x, dtype: bool

In [24]:
# df2['x'] > 2 and (df['x']<5) ne marchera pas car c'est ambigu, il y a des vrai et des faux dans la premiere condition  , utiliser : 
(df2['x'] > 2) & (df['x']<5) #bien mettre les parentheses

0    False
1    False
2     True
3     True
Name: x, dtype: bool

In [26]:
df['price']

0    2
1    2
2    3
3    4
Name: price, dtype: int64

In [28]:
df[(df['price'] > 3) | (df['price'] <= 2)]

  beer_name    type  price
0         a  blonde      2
1         b  blonde      2
3         d  blonde      4